<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="dolibarr-new-service">
    <description>PSR-12 coding standard for the Dolibarr CRM service.</description>

    <file>src</file>
    <file>tests</file>

    <rule ref="PSR12"/>
</ruleset>
